@font-face {
  font-family: 'Chakra Petch';
  src: url(../fonts/ChakraPetch-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato-Light.ttf) format('truetype');
}


.app{
  background-color: #DFD9E2;
}
