.home{
    display:flex;
}

.dropmenu{
    display:flex;
    justify-content: space-between;
    gap:10px;
    padding:5px 20px;
    background-color: #2A7F62;
    align-items: center;
    width: 20vw;
    min-width:150px;
}


.right-side{
    display: flex;
    flex-direction: column;
    width:100%;
    padding:50px;
    justify-content: center;
    align-items: center;
}

input{
    margin-bottom: 5px;
    max-width: 130px;
}

button {
    border: 1px solid transparent;
    padding: 7px 15px;
    cursor: pointer;
    transition: background-color 0.25s;
    background-color: #89909F;
    margin-right: 10px;
    margin-bottom: 5px;
  }
button:hover {
    background-color: #697c7e;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

input{
    font-family:"Lato" sans-serif;
}

#submit{
    margin: 20px 15px;
    box-shadow: -5px -5px #2A7F62;
    font-size:20px;
    font-family: 'Lato';
    color:white;
    font-weight:800;
}