.home{
    display:flex;
}

.dropmenu{
    display:flex;
    justify-content: space-between;
    gap:10px;
    padding:5px 20px;
    background-color: #2A7F62;
    align-items: center;
    width: 20vw;
    min-width:250px;
}

.content{
    overflow:auto;
}

.right-side{
    width:auto;
    height:auto;
    padding:auto;
}